*{
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-div{
    background-color: #2B2977;
    height: 100vh;
    width: 100vw;
}

.nav-bar{
    height: 10rem;
    width: 100%;
    /* background-color: aliceblue; */
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    align-items: center;

}

.logo{
    height: 100%;
    width: 80%;
    
}

.side-div{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: #000; */
    padding-bottom: 3rem;

}
button{
    font-size: 1.3rem;
    text-transform: capitalize;
    /* height: 4rem; */
    /* width: 10rem; */
    background:none;
    border-radius: 50px;
    /* height: 4rem; */
    width: auto; padding: 5px 15px;
    border-color: white;
    color: white;
    
}

button:hover{
    background-color: white;
    transform: scale(1.1);
    transition-duration: 0.5s;
    color: black;
}

.hambagumenu{
    color: #FF757D;
    height: 2rem;
    width: 2rem;
}

.section-two{
    height: 60vh;
    width: 50%;
    /* background-color: aliceblue; */
    margin-left: 15rem;
    margin-right: auto;
    margin-top: 5rem;

}
.section-two h1{
    font-size: 4rem;
    /* background-color: #FF757D; */
}

.heading h1{
    font-size: 70px;
    /* font-family: chromate,sans-serif; */
    color: #F8F1EA;
}

.headcolor{
    color: #FF757D;
}



.heading p{
    font-size: 18px;
    font-family: arboria, sans-serif;
    color: #9691B3;
    padding-top: 2rem;
}


.forbtn{
    padding-top: 2rem;
}

@media (max-width:1024px) {
   .nav-bar{
    height: 5rem;
   }
  .logo{
    height: 50%;
  }
  .side-div{
    height: 50%;
    padding-top: 6rem;
    
  }
    
}


@media (max-width:842px) {
    .logo{
        /* height: 10rem; */
        /* background-color: #F8F1EA; */
        width: 50%;
        height: 5rem;
    }
   .side-div{
    margin-left: 30%;
    padding-top: 4rem;
    gap: 1rem;
   }
   
button{
    font-size: .5rem;
    text-transform: capitalize;
    /* height: 3rem; 
     width: 10rem; */
    /* background:none;
    border-radius: 50px; */
    /* height: 4rem; */
    width: auto; padding: 5px 15px;
    /* border-color: white; */
    color: white;
    
}
    }
    




 @media (min-width:768px) {
    .section-two{
        height: 60vh;
        width: 60%;
        /* background-color: aliceblue; */
        margin: 0;
        margin-top: 5rem;
        margin-left: 20%;
    }
    .heading h1{
        font-size: 3rem;
    }
  
  
} 
@media (max-width:768px) {
    .section-two{
        height: 60vh;
        width: 60%;
        /* background-color: aliceblue; */
        margin: 0;
        margin-top: 5rem;
        margin-left: 20%;
    }
    .heading h1{
        font-size: 2rem;
    }
    .heading p{
        font-size: 16px;
    }
    
  
} 




